

.lvl1{

    border:solid 2px #C8C9CA;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    &:first-of-type{

        border-radius: 5px 5px 0 0 ;
    }
    &:not(:first-of-type){
        border-top: none;
    }




}
.lvl2{
    border:solid 2px #C8C9CA;
    border-bottom-width: 1px;
    border-top: none;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    &.last-lvl2{
        border-bottom-width: 2px;
    }
}
.submenu{
    overflow: hidden;

}