<h3>Titulo del Curso</h3>
<hr>

<ul class="list-group">

    <div class="lvl1 open"  (click)="toggleMenu(menu1)">
        <h5>1. Números reales</h5>
    </div>
    <div class="submenu collapse" #menu1>
        <div class="lvl2" >
            <h6> 1.1. Clasificación de los números reales </h6>
        </div>
        <div class="lvl2" >
            <h6> 1.1. Clasificación de los números reales </h6>
        </div>
        <div class="lvl2 last-lvl2" >
            <h6> 1.1. Clasificación de los números reales </h6>
        </div>
    </div>
    <div class="lvl1 open"  (click)="toggleMenu(menu2)">
        <h5>1. Números reales</h5>
    </div>
    <div class="submenu collapse" #menu2>
        <div class="lvl2" >
            <h6> 1.1. Clasificación de los números reales </h6>
        </div>
        <div class="lvl2" >
            <h6> 1.1. Clasificación de los números reales </h6>
        </div>
        <div class="lvl2 last-lvl2" >
            <h6> 1.1. Clasificación de los números reales </h6>
        </div>
    </div>

</ul>




